<p class="well">
  <%= link_to provider_auth_url('github'), :class => 'btn btn-large btn-block btn-secondary' do %>
    <i class="icon-github"></i>&nbsp; Github
  <% end %>
  <%= link_to provider_auth_url('facebook'), :class => 'btn btn-large btn-block btn-primary' do %>
    <i class="icon-facebook"></i>&nbsp; Facebook
  <% end %>
  <%= link_to provider_auth_url('twitter'), :class => 'btn btn-large btn-block btn-info' do %>
    <i class="icon-twitter"></i>&nbsp; Twitter
  <% end %>
</p>
