<%= render partial: 'splash_header' %>
<div class="container">  
  <div class="row">
    <div class="span3">
      <% if @channels.any? %>
        <% @channels.each do |channel| %>
          <%= render partial: 'shared/channel', locals: { channel: channel } %>
        <% end %>
      <% elsif @query %>
        Espera pronto los canales especiales
      <% end %>
    </div>
    <div class="span9">
      <% if @posts.any? %>
        <% @posts.each do |post| %>
          <%= render partial: 'shared/post_item', locals: { post: post } %>
        <% end %>      
      <% else %>
        <p>
          Nadie ha escrito nada :(
        </p>
      <% end %>
    </div>
  </div>
</div>
