<%= render partial: 'profile_header' %>
<div class="container">
    <% if @current_user and @current_user.id.eql? @user.id %> 
    <div class="text-right space-top">
      <%= link_to new_post_url, :class => 'btn btn-primary' do %>
        Agregar <i class="icon-pencil"></i>
      <% end %>
    </div>
  <% end %>
  <div id="posts-container">
    <% if @user.posts.any? %>
      <div class="row">
        <% @user.posts.each do |post| %>
          <%= render partial: 'shared/post_item',locals: { post: post } %>
        <% end %>
      </div>   
    <% else %>
      <p class="well space-top">
        A&uacute;n no has agregado posts 
      </p> 
    <% end %>
  </div>
</div>
