@import 'mixins';

.post-form {
  background-color: #ffffff;
  padding: 40px;
  margin: 50px 0;  
}

.post-form textarea,
.post-form input[type="text"] {
  border: none;
  color: $darker-gray;
  border-bottom: 2px dotted $medium-gray;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.post-form textarea:focus,
.post-form input[type="text"]:focus {
  border-color: $light-blue;
}

.post-form .error .help-block {
  color: red;
}

.post-form .field_with_errors textarea,
.post-form .field_with_errors input[type="text"] {
  border-color: red;
}

.post-form .field {
  margin: 15px 0;
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
	-webkit-perspective: 1000;
}

/* flip the pane when hovered */
.flip-container.rotate .flipper {
	transform: rotateY(180deg);
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}
