body {
  background-color: #fafafa;
}

form#sign-in {
  width: 250px;
  padding: 20px;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: -125px;
  margin-top: -110px;
}

form#sign-in input[type="password"],
form#sign-in input[type="text"] {
  margin-bottom: 15px;
  padding: 10px 6px;
  height: auto;
}

.logo-container {
  margin-bottom: 15px;
}
